.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}
.input-wrap {
    display: flex;
    background: #3c393f;
    align-items: center;
    padding: 5px;
    border-radius: 7px;
}
.default-form {
    box-shadow: #828282 0px 0px 0px 9999px inset;
    width: 100%;
    height: 2rem;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.default-form-text-area {
    box-shadow: #828282 0px 0px 0px 9999px inset;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
